<div class="mt-4 mx-4">
    <form>
        <div class="mb-3">
            <label for="search-input">Search</label>
            <input type="text" name="q" class="form-control" id="search-input" aria-describedby="search" placeholder="Type keywords to search...">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>